

<form class=form-group>
  Title: <input class="form-control" type="text" name="title" [(ngModel)]="newProduct.title" minlength="4" required #title="ngModel"  />
  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
<div *ngIf="title.errors.required">Title is required</div>
<div *ngIf="title.errors.minlength">Title must be at least 4 characters</div>
  </div>
  Price: <input class="form-control" type="number" name="price" [(ngModel)]="newProduct.price" required #price="ngModel" />
 <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
   <div *ngIf="price.errors.required">Price is required</div>
 </div>
  IMG: <input class="form-control" type="text" name="imageurl" [(ngModel)]="newProduct.imageurl" required #imageurl="ngModel" />
  <div *ngIf="imageurl.invalid && (imageurl.dirty || imageurl.touched)" class="alert alert-danger">
   <div *ngIf="imageurl.errors.required">An image is required</div>
 </div>
  <button [disabled]="title.invalid || price.invalid || imageurl.invalid" class="btn btn-info btn-sm mt-3" (click)="createProduct()">Create Product</button>
</form>

<router-outlet></router-outlet>
