


<div class="row">
  <div *ngFor="let product of products; let i = index" class="card m-2" style="width: 18rem;">
    <img [src]="product.imageurl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">${{ product.price }}</p>
      <a class="btn btn-dark btn-sm" [routerLink]="['/products', 'edit', product._id]">Edit</a>
      <button class="btn btn-danger btn-sm ml-2" (click)="deleteProduct(product._id, i)">Delete</button>
    </div>
  </div>
</div>
